main {
  margin: 0;
  padding: 0;
  height: 100%;
}

.weather-card {
  width: 70%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* Optional. only if you want the items to wrap */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border-radius: 10px;
  border-color: black;
  -webkit-box-shadow: 5px 10px 10px 5px #888888;
          box-shadow: 5px 10px 10px 5px #888888;
}

.weather-card .weather-card_header {
  background-image: url("../asssts/weather4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-radius: 8px 8px 0px 0px;
  height: 300px;
  position: relative;
}

.weather-card .weather-card_header .weather-card_temperature, .weather-card .weather-card_header .weather-card_city {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  font-size: 100px;
  -webkit-transform: scale(0.8, 1);
          transform: scale(0.8, 1);
  opacity: 1;
  letter-spacing: 10px;
  position: absolute;
  left: 100px;
  top: 30px;
}

.weather-card .weather-card_header .weather-card_visibility {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  -webkit-transform: scale(0.8, 1);
          transform: scale(0.8, 1);
  opacity: 1;
  letter-spacing: 5px;
  position: absolute;
  left: 120px;
  top: 140px;
}

.weather-card .weather-card_header .weather-card_humidity, .weather-card .weather-card_header .weather-card_humidity_percent, .weather-card .weather-card_header .weather-card_wind_speed, .weather-card .weather-card_header .weather-card_wind {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  -webkit-transform: scale(0.8, 1);
          transform: scale(0.8, 1);
  opacity: 1;
  letter-spacing: 2px;
  position: absolute;
  left: 22px;
  font-size: 20px;
  top: 210px;
}

.weather-card .weather-card_header .weather-card_humidity_percent, .weather-card .weather-card_header .weather-card_wind_speed {
  top: 240px;
  left: 50px;
}

.weather-card .weather-card_header .weather-card_wind {
  left: 240px;
}

.weather-card .weather-card_header .weather-card_wind_speed {
  left: 232px;
}

.weather-card .weather-card_header .weather-card_city {
  letter-spacing: 3px;
  font-size: 50px;
  left: 285px;
}

.weather-card .weather-card_header hr {
  position: absolute;
  border-bottom: 6px solid #8c8b8b;
  width: 70px;
  right: 120px;
  top: 78px;
}

.weather-card .weather-card_header .vl {
  border-left: 2px solid white;
  height: 60px;
  position: absolute;
  left: 165px;
  top: 205px;
}

.weather-card .weather-card_body {
  margin: 30px;
}

.weather-card .weather-card_body .weather-icons, .weather-card .weather-card_body .weather-icons_sun, .weather-card .weather-card_body .weather-icons_shower {
  height: 80px;
  width: 100px;
}

.weather-card .weather-card_body .weather-icons_sun {
  padding-right: 25px;
}

.weather-card .weather-card_body .weather-icons_shower {
  padding-right: 15px;
}

.weather-card .weather-card_body .weather-card_weekday1, .weather-card .weather-card_body .weather-card_weekday2, .weather-card .weather-card_body .weather-card_weekday3, .weather-card .weather-card_body .weather-card_weekday4, .weather-card .weather-card_body .weather-card_weekday5 {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
}
/*# sourceMappingURL=style.css.map */